name: Publish

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Publish ni-fpga
      working-directory: ./ni-fpga
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_ACCESS_TOKEN }}
      run: cargo publish --no-verify || true
    - name: Publish ni-fpga-macros
      working-directory: ./ni-fpga-macros
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_ACCESS_TOKEN }}
      run: cargo publish --no-verify
    - name: Publish ni-fpga-sys
      working-directory: ./ni-fpga-sys || true
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_ACCESS_TOKEN }}
      run: cargo publish --no-verify || true